/* @import url('https://fonts.googleapis.com/css2? family=Orbittron&display=swap'); */
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #e5eeee;
 
}
.displayBox {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-align:right;
    background-color: white;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 98%;
    height: 60%;
}
.button {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(30, 32, 32);
    border: solid rgb(12, 1, 1) 0.5px;
    color: #f3f0f0;
    border-radius: 9px;
    width: 100%;
    height: 70%;
    outline: none;
}
.buttonNum {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(209, 118, 14);
    border: solid rgb(12, 1, 1) 0.5px;
    color: #f3f0f0;
    border-radius: 9px;
    width: 100%;
    height: 70%;
    outline: none;
}
 .button:active {
    background: #d14a4a;
}
.buttonNum:active {
    background:white ;
} 